<%- include('../../partials/_head.ejs', {pageName: 'Accueil' }) %>

  <h1>Home - Intro à Templating ♥</h1>
  <h2>Aujourd'hui, nous sommes <%=today%>
  </h2>

  <img src="images/della-duck.png" alt="Della Duck" />

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
    deleniti pariatur ducimus eius dolorem molestiae quis, qui illum ipsa
    repudiandae quam odit vero accusantium placeat quae at explicabo sed!
    Voluptatum?
  </p>

  <%- include('../../partials/_footer.ejs') %>